@media screen and (min-width:992px) {
    h3 {
        margin-left: 30px;
        margin-bottom: 10px;
    }
    .Main {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin-left: 20px;
        padding: 10px;
        margin-top: 0px;
        height: fit-content;
        box-shadow: 1px 1px 5px lightgray;
        .left{
            width: 40%;
        }
        .right{
            width: 40%;
        }
    }
    .title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        padding-top: 20px;
        margin-left: 0px;
    }
    .value{
        display: flex;
        i{
            margin-right: 5px;
        }
    }
}

/*mobile screens*/
@media (max-width: 768px) {
    h3{
        margin-left: 30px;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .Main {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 1px 1px 5px lightgray;
        margin-bottom: 50px;
    }
    .right{
        display: none;
    }
    .title {
        width: 80%;
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;
        padding-top: 15px;
        margin-left: 20px;
    }
    .value{
        display: flex;
        i{
            margin-right: 5px;
        }
    }
}


/* between mobile and labtop screens */
@media only screen and (min-width: 769px) and (max-width:991px) {
    h3{
        margin-left: 30px;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .Main {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 1px 1px 5px lightgray;
        margin-bottom: 50px;
    }
    .right{
        display: none;
    }
    .title {
        width: 80%;
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;
        padding-top: 15px;
        margin-left: 20px;
    }
    .value{
        display: flex;
        i{
            margin-right: 5px;
        }
    }
}