@media screen and (min-width:992px) {
    .course-details{
        border: 1px lightgray solid;
        height: 400px;
        padding: 20px;
        margin-left: 50px;
        margin-top: 10px;
        width: 60%;
        margin-bottom: 20px;
    }
    #week1-4{
        margin-bottom: 20px;
    }
    .paragraph{
        color: gray;
        margin-bottom: 10px;
    }
    .title-icon{
        display: flex;
        justify-Content: space-between;
        margin-Bottom: 10px;
        margin-Top: 10px
    }
    .text{
        margin-left: 10px;
    }
    .qanda{
        display: flex;
    }
    .questions{
        width: fit-content;
        height: fit-content;
        background-Color: rgb(176, 237, 201);
        color: rgba(0, 128, 0, 0.527);
        padding: 2px; 
        margin-right: 5px;
    }
    .answers{
        width: fit-content;
        height: fit-content;
        background-Color: rgba(255, 0, 0, 0.204);
        color: rgba(255, 0, 0, 0.647);
        padding: 2px; 
    }
}



@media screen and (max-width:768px) {
    #secondrightdiv{
display: none;
    }
    .course-details{
        border: 1px lightgray solid;
        height: fit-content;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        width: 80%;
        margin-bottom: 10px;
    }
    #hrr{
        display: none;
    }
    #week1-4{
        display: none;
    }
    .paragraph{
        color: gray;
        margin-bottom: 10px;
        display: none;
    }
    .title-icon{
        display: flex;
        justify-Content: space-between;
        margin-Bottom: 20px;
        margin-Top: 20px;
        width: 100%;
    }
    .text{
        margin-left: 10px;
    }
    .questions{
        width: fit-content;
        height: fit-content;
        background-Color: rgb(176, 237, 201);
        color: rgba(0, 128, 0, 0.527);
        padding: 5px; 
        margin-right: 5px;
    }
    .answers{
        width: fit-content;
        height: fit-content;
        background-Color: rgba(255, 0, 0, 0.204);
        color: rgba(255, 0, 0, 0.647);
        padding: 5px; 
        margin-top: 5px;
    }
}

/* between mobile and labtop screens */
@media only screen and (min-width: 769px) and (max-width:991px) {
    #secondrightdiv{
        display: none;
            }
            .course-details{
                border: 1px lightgray solid;
                height: fit-content;
                padding: 20px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 20px;
                width: 80%;
                margin-bottom: 10px;
            }
            #hrr{
                display: none;
            }
            #week1-4{
                display: none;
            }
            .paragraph{
                color: gray;
                margin-bottom: 10px;
                display: none;
            }
            .title-icon{
                display: flex;
                justify-Content: space-between;
                margin-Bottom: 20px;
                margin-Top: 20px;
                width: 100%;
            }
            .text{
                margin-left: 10px;
            }
            .questions{
                width: fit-content;
                height: fit-content;
                background-Color: rgb(176, 237, 201);
                color: rgba(0, 128, 0, 0.527);
                padding: 5px; 
                margin-right: 5px;
            }
            .answers{
                width: fit-content;
                height: fit-content;
                background-Color: rgba(255, 0, 0, 0.204);
                color: rgba(255, 0, 0, 0.647);
                padding: 5px; 
                margin-top: 5px;
            }
}